<%- include('header') %>

<div id="loading" style="display: none;">
    <div id="loader-wrapper">
      <div id="loader"></div>
    </div><!--end of loader-wrapper-->
</div><!--end of loading-->

<div class="container-fluid" id="page">
  <div class="row">
    <div class="col-lg-4 offset-lg-4 text-center">
      <br /><br>
      <h1><%= title %></h1>

      <% if(typeof user == 'string' && user){ %>

      <h3>User is: <%= user %></h3>

      <% } %>
    </div><!-- end .col-sm-12 -->
  </div><!-- end .row -->

  <div class="row exportTool">
    <div class="col-lg-12">
      <p>Make your selections.<br />Next, click "Export Data".</p>
    </div><!-- end .col-sm-12 -->
  </div><!-- end .row -->

  
<!--  ------------------------------------------------------Date Drop Down Options ---------------------------- -->
<!-- ---------------------------the dates are populated by the getExport function on api_export.js ------------ -->
  <div class="row exportTool">
    <div class="col-sm-12 col-lg-6 offset-lg-3">
        <% if(dates){ %>
      <div class="button-group">
        <button type="button" style="border: 1px solid green;" class="btn btn-lg dropdown-toggle width-set export_results_dropdown" aria-haspopup="true" aria-expanded="false" data-toggle="dropdown" >Test Date</button>
        <ul class="dropdown-menu btn-block width-set export_results_dropdown" id="dateUL">
          <% for(var i=0; i < dates.length; i++) {
            //console.log(String(statusEndTime[i]));
            if (String(statusEndTime[i]) != "Fri Jan 02 1970 00:00:00 GMT-0800 (Pacific Standard Time)"){ %>
              <li class="dropdown-item radial">
              <span id="dateParent-<%=[i]%>">
                  <input id="<%= dateIds[i] %>" class="date double" value="<%=testDescription[i] %>" onclick="displayChecked(this.id, 'dateParent-<%=[i]%>', 'none', 'radialChild', 'span'); displayInfo(this.value, this.id);" type="radio" name="date" />&nbsp; <%= dates[i] %> | <%=testDescription[i] %></span>
              </li>
          <% }} %>
        </ul>
      </div><!-- end .button-group -->
      <% } %>
      <p id="testData"></p>
    </div><!-- end .col-sm-12 col-lg-6 offset-lg-3 -->
  </div><!-- end .row -->
  


<!--  ------------------------------------------------------Language / Locale Drop Down Options ---------------------------- -->
<!--  --------------------------------------languages and templates are populated with the displayInfo function above ------ -->
  <div class="row exportTool">
    <div class="col-sm-12 col-lg-6 offset-lg-3">
      <div class="button-group">
        <button type="button" id ="langButton" class="btn btn-lg dropdown-toggle width-set bottomSpace topSpace export_results_dropdown" data-toggle="dropdown" disabled >Language Locale <span class="caret"></span></button>
        <ul class="dropdown-menu btn-block width-set export_results_dropdown" id="langList">

          <!-- the 'ALL' option has to be available for the displaychecked.js funciton to work properly - set to style="display:none; if wanted" -->
          <li class="width-set dropdown-item" id="langAll"> 
            <span>
              <input id="LAll" class="lang double" onclick="displayChecked(this.id, 'langList', 'LAll', 'langChildren', 'span')" type="checkbox" />&nbsp; All
            </span>
          </li>
        </ul>
      </div><!-- end .button-group -->
    </div><!-- end .col-sm-12 col-lg-6 offset-lg-3 -->
  </div><!-- end .row -->


<!--  ------------------------------------------------------Feature/Template Drop Down Options ---------------------------- -->
  <div class="row exportTool">
    <div class="col-sm-12 col-lg-6 offset-lg-3">
      <div class="button-group">
        <button type="button" id="mybutton" class="btn btn-lg dropdown-toggle width-set bottomSpace export_results_dropdown" aria-haspopup="true" aria-expanded="false" data-toggle="dropdown" disabled>(FX) Page <span class="caret"></span></button>
        <ul class="dropdown-menu btn-block width-set export_results_dropdown" id="featureUL">

          <!-- the 'ALL' option has to be available for the displaychecked.js funciton to work properly - set to display:none;-->
          <li class="dropdown-item" id="tempAll">   
            <span>
              <input id="All" class="FX double" onclick="displayChecked(this.id, 'featureUL', 'All', 'pageChildren', 'span')" type="checkbox" />&nbsp; All
            </span>
          </li>
        </ul>
      </div><!-- end .button-group -->
    </div><!-- end .col-sm-12 col-lg-6 offset-lg-3 -->
  </div><!-- end .row -->


<!--  ------------------------------------------------------ Run Reports buttons ---------------------------- -->
    <div class="row exportTool">
      <div class="col-lg-12">
        <div class="button-group">
          <a id="myhref" download>
            <% //console.log("I'm just about to see the exportSelections function."); %>
            <button type="button" class="btn btn-lg width-set bottomSpace" id="runTest" onclick="exportSelections()" disabled><b>Export Data</b></button> 
            <!-- the exportSelections() function WAS in the "runTests.js" file but is now above, the api_export.js file has the database query -->
          </a><br>
          <!--<button type="button" class="btn btn-md" id="exportLanguageSet" onclick="exportLanguageSet()"><b>Export Language Set</b></button>&nbsp;-->


<!--------------------------- taking out the comprehensive report for now ----------------------- -->
          <!-- <a href="/export?feature=All&language=All&testresult=&query=&testpassid=All">
            <button type="button" class="btn btn-md btn-danger exportToolBtn" id="exportAll"><b>Build Comprehensive Report</b></button> 
            </a>
            <p style="color:red">Warning! This takes a while!</p> -->

        </div>
      </div><!-- end .col-lg-12 -->
    </div><!-- end .row -->


<!--  ------------------------------------------------------Display Section ---------------------------- -->
    <div class="col-lg-12 topSpace center">
      <h1>Export Data Selection:</h1>
    </div><!-- end .col-lg-12 -->
 
    <div class="container topSpace">
        <div class="row exportTool">

        <div class="col-md-4 col-lg-4 center" >
          <h3>Date Selection</h3>
          <div id="radialChild"></div>
        </div>
          
        <div class="col-md-4 col-lg-4 center">
          <h3>Languages</h3>
          <div id="langChildren"></div>
        </div><!-- end .col-md-5 .col-lg-6 -->

        <div class="col-md-4 col-lg-4 center">
          <h3>Templates</h3>
          <div id="pageChildren"></div>
        </div><!-- end .col-md-5 .col-lg-6 -->

      </div><!-- end .row -->
    </div>
    
</div><!-- end .container-fluid -->


<%- include('footer') %>
