<%- include('header') %>
  <!-- Expiremental Flash Messaging Initiation: -->
  <div id="loading" style="display: none;">
    <div id="loader-wrapper">
      <div id="loader"></div>
    </div>
    <!--end of loader-wrapper-->
  </div>
  <!--end of loading-->
  <!--end of loading-->
  <div class="container-fluid" id="page">
    <div class="row">
      <div class="col-lg-4 offset-lg-4 text-center">
        <br />
        <br>
        <h1><%= title %></h1>
        <br>
      </div>
      <!-- end .col-lg-4 -->
    </div>
    <!-- end .row -->
    <!-- Check the Status of Selenium & Phantom JS Driver-->
    <div class="row text-center">
      <div class="col-lg-4"></div>
      <div class="col-lg-2">
        <h6>Selenium:&nbsp;
          <% if(driverStatus.selenium === "on") { %>
          <span class="dot-light-on"></span>
          <% } else {%>
            <span class="dot-light-off"></span>  
          <% } %>
        </h6>
      </div>
      <div class="col-lg-2">
        <h6>PhantomJS:&nbsp;
          <% if(driverStatus.selenium === "on") { %>
         <span class="dot-light-on"></span></h6>
        <% } else {%>
          <span class="dot-light-off"></span>
          <% } %>
      </div>
      <div class="col-lg-4"></div>
    </div>
    <!-- End of Selenium & Phantom Status -->
    <div class="row text-center">
      <div class="col-lg-12">
        <br>
        <p>Make your selections before running a test.
          <br /> Descriptions added here can be searched for on the Dashboard. </p>
      </div>
    </div>
    <br><br>
    <!--  ------------------------------------------------------Button Options ---------------------------- -->
    <div class="row">
      <div class="col-lg-7 offset-lg-3">
          <div class="nav nav-tabs" id="" role="tablist">
                <a class="nav-item nav-link active" id="content-tab" data-toggle="tab" role="tab" href="#content" aria-controls="content" aria-selected="true">Content Test</a>
                 <a class="nav-item nav-link" id="functional-tab" data-toggle=tab role="tab" href="#functional" aria-controls="functional" aria-selected="false">Functional Test</a>
              <a class="nav-item nav-link" id="custom-tab" data-toggle=tab role="tab" href="#custom" aria-controls="custom" aria-selected="false">Custom Test</a>
              <a class="nav-item nav-link" id="custom-tab" data-toggle=tab role="tab" href="#custom" aria-controls="custom" aria-selected="false">Test Queue/Schedule</a>
          </div>

        <div class="tab-content">
          <div class="tab-pane fade show active" role="tabpanel" id="content" aria-labelledby="content-tab">
            <div class="row">
                    <div class="col-lg-4 text-center">
        <!--  ------------------------------------------------------Test Names ---------------------------- -->
        <button style="display:none;" type="button" class="btn btn-lg btn-warning width-set" data-toggle="modal" data-target="#nameModal">
          Test Names
        </button>
        <br />
        <!-- Modal Test Names-->
        <div class="modal fade" id="nameModal" tabindex="-1" role="dialog" aria-labelledby="nameModalTitle" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="nameModalTitle">Select a Test</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <!-- Pull in Test Names-->
                <div class="form-check">
                  <label for="1">
                    <input class="form-check-input double" type="radio" name="langRadios" id="1" value="1">&nbsp; Kendall's crazy test
                  </label>
                </div>
              </div>
              <div class="modal-footer">
                <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
                <button type="button" class="btn btn-success" data-dismiss="modal">Run</button>
                <button type="button" class="btn btn-success" data-dismiss="modal">Schedule</button>
              </div>
            </div>
          </div>
        </div>
        <!--  ------------------------------------------------------Languages ---------------------------- -->
        <button type="button" style="border: 1px solid green;" class="btn btn-lg width-set topSpace" data-toggle="modal" data-target="#langModal">
          Languages
        </button>
        <br />
        <!-- Modal Languages-->
        <div class="modal fade" id="langModal" tabindex="-1" role="dialog" aria-labelledby="langTitle" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="langTitle">Select Languages</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <!-- <input type="text" placeholder="Search.." id="langSearch" onkeyup="filterFunction()"> -->
                <!-- Search Bar  - the search function needs work as it currently filters out the checkbox-->
                <ul style="list-style-type: none;" id="myUL">
                  <% var allLangs=['en-us', 'en-au', 'en', 'en-ca', 'en-gb', 'en-id', 'en-ie', 'en-in', 'en-my','en-ph', 'en-sg', 'en-th', 'en-tt', 'en-vn', 'cs-cz', 'da-dk', 'de-de', 'de-at', 'de-ch','es-es','es-mx', 'es-ar', 
                    'es-bo', 'es-cl', 'es-co', 'es-cr', 'es-do', 'es-ec', 'es-gt', 'es-pe','es-sv','es-us','es-uy','es-ve','fi-fi','fr-fr','fr','fr-be','fr-ca','fr-ch','id-id','it-it','ja-jp','ko-kr','nl-nl','nl-be','no-no',
                    'pl-pl','pt-br','pt-pt','ru-ru','sv-se','th-th','tr-tr','vi-vn','zh-cn','cn','zh-tw'];%>
                    <li class="width-set columnized">
                      <span>
                        <input id="all" class="lang double" onclick="displayChecked(this.id, 'myUL', 'all', 'chosenLangs', 'span')" type="checkbox" />&nbsp;all</a>
                      </span>
                    </li>
                    <% for(var i=0; i < allLangs.length; i++) { %>
                      <li class="width-set columnized">
                        <span>
                        <input id="<%= allLangs[i] %>" class="lang double" onclick="displayChecked(this.id, 'myUL', 'all', 'chosenLangs', 'span')" type="checkbox" />&nbsp;
                        <%= allLangs[i] %>
                        <span>
                      </li>
                      <% } %>
                </ul>
              <!-- Modal-body ends here -->
              </div>
              <div class="modal-footer">
                <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
                <button type="button" class="btn btn-primary" onclick="unhideTemplates()" data-dismiss="modal">Save selections</button> 
                <!-- onclick="showLangs()" -->
              </div>
              
            <!-- modal content ends here -->
            </div>

          <!-- Modal-Dialog ends here -->
          </div>

          <!-- Modal fade ends here -->
        </div>
        <!-- col ends here -->
        <!--  ------------------------------------------------------Templates ---------------------------- -->
        <button type="button" id="tb" style="border: 1px solid green;" class="btn btn-lg width-set topSpace" data-toggle="modal" data-target="#FxModal" disabled>
          F(x) Template
        </button>
        <br />
        <!-- Modal Templates-->
        <div class="modal fade" id="FxModal" tabindex="-1" role="dialog" aria-labelledby="FxTitle" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content" style="text-align:left; padding:2em;">
              <div class="modal-header">
                <h5 class="modal-title" id="FxTitle">Select Template Pages (Fx)</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <!-- Use If statement to check if user has appropriate permissions. -->
                <div class="form-check">
                  <label for="all">
                    <input class="form-check-input double" type="radio" onclick="hideAllTC()" name="featureRadios" id="all" value="all"> All Features
                  </label>
                </div>
                <!-- Use If statement to check if user has appropriate permissions. -->
                <div class="form-check">
                  <label for="F1">
                    <input class="form-check-input double" type="radio" name="featureRadios" id="F1" value="F1"> (F1) Home Page
                  </label>
                </div>
                <div class="form-check">
                  <label for="F2">
                    <input class="form-check-input double" type="radio" name="featureRadios" id="F2" value="F2"> (F2) Product Table of Contents
                  </label>
                </div>
                <div class="form-check">
                  <label for="F3">
                    <input class="form-check-input double" type="radio" name="featureRadios" id="F3" value="F3"> (F3) Product Sub-Category
                  </label>
                </div>
                <div class="form-check">
                  <label for="F4">
                    <input class="form-check-input double" type="radio" name="featureRadios" id="F4" value="F4"> (F4) Product Display
                  </label>
                </div>
                <div class="form-check" style="display: none">
                  <label for="F5">
                    <input class="form-check-input double" type="radio" name="featureRadios" id="F5" value="F5"> (F5) HTML Page
                  </label>
                </div>
                <div class="form-check" style="display: none">
                  <label for="F6">
                    <input class="form-check-input double" type="radio" name="featureRadios" id="F6" value="F6"> (F6)
                  </label>
                </div>
                <div class="form-check">
                  <label for="F7">
                    <input class="form-check-input double" type="radio" name="featureRadios" id="F7" value="F7"> (F7) New Fluke Products
                  </label>
                </div>
                <div class="form-check">
                  <label for="F8">
                    <input class="form-check-input double" type="radio" name="featureRadios" id="F8" value="F8"> (F8) Promotions and Contests TOC
                  </label>
                </div>
                <div class="form-check">
                  <label for="F9">
                    <input class="form-check-input double" type="radio" name="featureRadios" id="F9" value="F9"> (F9) Article Table of Contents
                  </label>
                </div>
                <div class="form-check">
                  <label for="F10">
                    <input class="form-check-input double" type="radio" name="featureRadios" id="F10" value="F10"> (F10) Webcard Table of Contents
                  </label>
                </div>
                <div class="form-check">
                  <label for="F11">
                    <input class="form-check-input double" type="radio" name="featureRadios" id="F11" value="F11"> (F11) Webcard
                  </label>
                </div>
                <div class="form-check">
                  <label for="F12">
                    <input class="form-check-input double" type="radio" name="featureRadios" id="F12" value="F12"> (F12) Fluke News Table of Contents
                  </label>
                </div>
                <div class="form-check">
                  <label for="F13">
                    <input class="form-check-input double" type="radio" name="featureRadios" id="F13" value="F13"> (F13) Fluke News Sub-Category
                  </label>
                </div>
                <div class="form-check">
                  <label for="F14">
                    <input class="form-check-input double" type="radio" name="featureRadios" id="F14" value="F14"> (F14) Article
                  </label>
                </div>
                <div class="form-check">
                  <label for="F15">
                    <input class="form-check-input double" type="radio" name="featureRadios" id="F15" value="F15"> (F15) Tradeshows and Seminars
                  </label>
                </div>
                <div class="form-check">
                  <label for="F16">
                    <input class="form-check-input double" type="radio" name="featureRadios" id="F16" value="F16"> (F16) Training Library
                  </label>
                </div>
                <div class="form-check">
                  <label for="F17">
                    <input class="form-check-input double" type="radio" name="featureRadios" id="F17" value="F17"> (F17) Webinars
                  </label>
                </div>
                <div class="form-check" style="display: none">
                  <label for="F18">
                    <input class="form-check-input double" type="radio" name="featureRadios" id="F18" value="F18"> (F18)
                  </label>
                </div>
                <div class="form-check">
                  <label for="F19">
                    <input class="form-check-input double" type="radio" name="featureRadios" id="F19" value="F19"> (F19) Manuals
                  </label>
                </div>
                <div class="form-check">
                  <label for="F20">
                    <input class="form-check-input double" type="radio" name="featureRadios" id="F20" value="F20"> (F20) Press Releases
                  </label>
                </div>
                <div class="form-check">
                  <label for="F21">
                    <input class="form-check-input double" type="radio" name="featureRadios" id="F21" value="F21"> (F21) Safety Notices
                  </label>
                </div>
                <div class="form-check">
                  <label for="F22">
                    <input class="form-check-input double" type="radio" name="featureRadios" id="F22" value="F22"> (F22) Software Downloads
                  </label>
                </div>
                <div class="form-check">
                  <label for="F23">
                    <input class="form-check-input double" type="radio" name="featureRadios" id="F23" value="F23"> (F23) Where to Buy
                  </label>
                </div>
                <div class="form-check">
                  <label for="F24">
                    <input class="form-check-input double" type="radio" name="featureRadios" id="F24" value="F24"> (F24) Link to Offsite Location
                  </label>
                </div>
                <div class="form-check">
                  <label for="F25">
                    <input class="form-check-input double" type="radio" name="featureRadios" id="F25" value="F25"> (F25) Promotions and Contests Page
                  </label>
                </div>
              </div>
              <div class="modal-footer">
                <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
                <button type="button" class="btn btn-primary" onclick="showTemplates();" data-dismiss="modal">Save selection</button>
              </div>
            </div>
          </div>
        </div>
        <!--  ------------------------------------------------------Test Cases ---------------------------- -->
        <button type="button" id="tcb" style="border: 1px solid green;" class="btn btn-lg width-set topSpace" data-toggle="modal" data-target="#casesModal" disabled>
          Test Cases
        </button>
        <br />
        <!-- Modal Test Cases-->
        <div class="modal fade" id="casesModal" tabindex="-1" role="dialog" aria-labelledby="casesTitle" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="casesTitle">Select Test Cases</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <ul style="text-align:left; list-style-type: none;" class="liAlign">
                  <li class="list testcasechoice" id="allTCs">
                    <span id="TestCaseParent">
                      <input id="TCAll" class="double testcasechoice" type="checkbox" onclick="displayChecked(this.id, 'theTestCases', 'TCAll', 'chosenTestCases', 'p')">&nbsp;all
                    </span>
                  </li>
                </ul>
                <ul style="text-align:left; list-style-type: none;" class="liAlign" id="theTestCases">
                  <!-- <li class="list testcasechoice" id="allTCs">
                    <span id="TestCaseParent">
                      <input id="TCAll" class="double testcasechoice" type="checkbox" onclick="displayChecked(this.id, 'theTestCases', 'TCAll', 'chosenTestCases', 'p')">&nbsp;all
                    </span>
                  </li> -->

                  <!-- <input class="double testcasechoice" type="checkbox" />    These are populated by the grabTCsForFeature function on the runTest.js file -->
                  
                </ul>
              </div>
              <div class="modal-footer">
                <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> Currently we do not need a separate exit button and the exit feature is built into SAVE-->
                <button type="button" class="btn btn-primary" data-dismiss="modal">Save selections</button>  
                <!-- this button used to have onclick="showTCs()"  -->
              </div>
            </div>
          </div>
        </div>
        <!--------------------------------------------------------URLs ---------------------------- -->
        <button type="button" id="url" style="border: 1px solid green;" class="btn btn-lg width-set topSpace" data-toggle="modal" data-target="#urlsModal" disabled>
          URLs
        </button>
        <br />
        <!-- Modal URLs-->
        <div class="modal fade" id="urlsModal" tabindex="-1" role="dialog" aria-labelledby="urlsTitle" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="urlsTitle">Select URLs</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <ul style="text-align:left; list-style-type: none;">
                  <li style="padding-bottom: 5%">
                        <label for="domain-selection">Select Domain (Default is Staging)</label>
                        <select class="form-control" id="domain-selection">
                          <option>https://live-igcommerce.pantheonsite.io</option>
                          <option>https://dev-igcommerce.pantheonsite.io</option>
                          <option>https://test-igcommerce.pantheonsite.io</option>
                          <option>http://test-chinapoc.flukedev.com</option>
                          <option>http://dev-chinapoc.flukedev.com</option>
                        </select>
                  </li>

                  <li>
                    <input id="all" class="double aURL" type="radio" name="urlRadios" /> &nbsp;all URLs
                  </li>
                  <li>
                    <input id="10" class="double topSpace aURL" type="radio" name="urlRadios" /> &nbsp;10 URLs
                  </li>
                  <li>
                    <input id="1" class="double topSpace aURL" type="radio" name="urlRadios" /> &nbsp;1 URL
                  </li>
                  <li style="display:none;">
                    <input id="oneURL" onclick="showInput()" class="double topSpace aURL" type="radio" name="urlRadios" /> &nbsp;Enter a URL for testing
                  </li>
                  <li style="display: none" id="typedURL">
                    <input class="topSpace" id="enteredURL" type="text" />
                  </li>
                  <!-- Currently we are not letting the user select URLs individually as there are so many to choose from -->
                  <!-- <% for (var x = 0; x < urls.length; x++){ %>
                            <li>
                                <input id="" class=" double" onclick="" type="checkbox" />&nbsp;<%= urls[x].UrlId %> | <%= urls[x].Url %>
                            </li>
                        <% } %> -->
                        </ul>
                      </div>
                      <div class="modal-footer">
                        <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
                        <button type="button" onclick="showURLChoice()" class="btn btn-primary" data-dismiss="modal">Save selections</button>
                      </div>
                    </div>
                  </div>
                </div>
                <br />
                <div style="display:none;">
                  <label for="name">Name: </label>
                  <textarea style="margin-left:5px;" id="name" rows="1" cols="38" placeholder="Enter new test name here"></textarea>
                </div>
                <button class="button" style="display:none;" type="button" class="btn btn-lg btn-warning" onclick="">save</button>
                <button type="button" class="btn btn-md btn-primary width-set" onclick="runit()">run</button>
                <br>
                <br>
                <button type="button" data-toggle="modal" data-target="#scheduleModal" class="btn btn-md btn-success width-set">schedule</button>
                 <!-- Modal -->
        <!-- <form action="/add-to-schedule" method="GET"> -->
          <div class="modal fade" id="scheduleModal" tabindex="-1" role="dialog" aria-labelledby="ScheduleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="ScheduleModalLabel">Test Scheduler</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                
                  <div>
                    <h4>Select the hour and either the day of the week OR the day of the month:</h4>
                    <h5>Hour of Test:</h5>
                    <li class="width-set columnized" ><input type="radio" value="0" name="time">midnight</li>
                    <li class="width-set columnized" ><input type="radio" value="1" name="time">1 a.m.</li>
                    <li class="width-set columnized" ><input type="radio" value="2" name="time">2 a.m.</li>
                    <li class="width-set columnized" ><input type="radio" value="3" name="time">3 a.m.</li>
                    <li class="width-set columnized" ><input type="radio" value="4" name="time">4 a.m.</li>
                    <li class="width-set columnized" ><input type="radio" value="5" name="time">5 a.m.</li>
                    <li class="width-set columnized" ><input type="radio" value="6" name="time">6 a.m.</li>
                    <li class="width-set columnized" ><input type="radio" value="7" name="time">7 a.m.</li>
                    <li class="width-set columnized" ><input type="radio" value="8" name="time">8 a.m.</li>
                    <li class="width-set columnized" ><input type="radio" value="9" name="time">9 a.m.</li>
                    <li class="width-set columnized" ><input type="radio" value="10" name="time">10 a.m.</li>
                    <li class="width-set columnized" ><input type="radio" value="11" name="time">11 a.m.</li>
                    <li class="width-set columnized" ><input type="radio" value="12" name="time">noon</li>
                    <li class="width-set columnized" ><input type="radio" value="13" name="time">1 p.m.</li>
                    <li class="width-set columnized" ><input type="radio" value="14" name="time">2 p.m.</li>
                    <li class="width-set columnized" ><input type="radio" value="15" name="time">3 p.m.</li>
                    <li class="width-set columnized" ><input type="radio" value="16" name="time">4 p.m.</li>
                    <li class="width-set columnized" ><input type="radio" value="17" name="time">5 p.m.</li>
                    <li class="width-set columnized" ><input type="radio" value="18" name="time">6 p.m.</li>
                    <li class="width-set columnized" ><input type="radio" value="19" name="time">7 p.m.</li>
                    <li class="width-set columnized" ><input type="radio" value="20" name="time">8 p.m.</li>
                    <li class="width-set columnized" ><input type="radio" value="21" name="time">9 p.m.</li>
                    <li class="width-set columnized" ><input type="radio" value="22" name="time">10 p.m.</li>
                    <li class="width-set columnized" ><input type="radio" value="23" name="time">11 p.m.</li><br /><br />
                    <h5>Weekly Tests:</h5>
                    <li class="width-set columnized" ><input type="radio" value="MON" name="day">Mondays</li>
                    <li class="width-set columnized" ><input type="radio" value="THU" name="day">Thursdays</li>
                    <li class="width-set columnized" ><input type="radio" value="SUN" name="day">Sundays</li>
                    <li class="width-set columnized" ><input type="radio" value="TUE" name="day">Tuesdays</li>
                    <li class="width-set columnized" ><input type="radio" value="FRI" name="day">Fridays</li>
                    <li class="width-set columnized" ></li>
                    <li class="width-set columnized" ><input type="radio" value="WED" name="day">Wednesdays</li>
                    <li class="width-set columnized" ><input type="radio" value="SAT" name="day">Saturdays</li>
                    <li class="width-set columnized" ></li><br /><br />
                    <h5>Monthly Test:</h5>
                    <li class="width-set columnized" ><input type="radio" value="1" name="day">1st</li>                    
                    <li class="width-set columnized" ><input type="radio" value="11" name="day">11th</li>  
                    <li class="width-set columnized" ><input type="radio" value="21" name="day">21st</li>
                    <li class="width-set columnized" ><input type="radio" value="2" name="day">2nd</li>                    
                    <li class="width-set columnized" ><input type="radio" value="12" name="day">12th</li>
                    <li class="width-set columnized" ><input type="radio" value="22" name="day">22nd</li>
                    <li class="width-set columnized" ><input type="radio" value="3" name="day">3rd</li>
                    <li class="width-set columnized" ><input type="radio" value="13" name="day">13th</li>
                    <li class="width-set columnized" ><input type="radio" value="23" name="day">23rd</li>
                    <li class="width-set columnized" ><input type="radio" value="4" name="day">4th</li>
                    <li class="width-set columnized" ><input type="radio" value="14" name="day">14th</li>                
                    <li class="width-set columnized" ><input type="radio" value="24" name="day">24th</li>
                    <li class="width-set columnized" ><input type="radio" value="5" name="day">5th</li>
                    <li class="width-set columnized" ><input type="radio" value="15" name="day">15th</li>
                    <li class="width-set columnized" ><input type="radio" value="25" name="day">25th</li>
                    <li class="width-set columnized" ><input type="radio" value="6" name="day">6th</li>
                    <li class="width-set columnized" ><input type="radio" value="16" name="day">16th</li>
                    <li class="width-set columnized" ><input type="radio" value="26" name="day">26th</li>
                    <li class="width-set columnized" ><input type="radio" value="7" name="day">7th</li>
                    <li class="width-set columnized" ><input type="radio" value="17" name="day">17th</li>
                    <li class="width-set columnized" ><input type="radio" value="27" name="day">27th</li>
                    <li class="width-set columnized" ><input type="radio" value="8" name="day">8th</li>
                    <li class="width-set columnized" ><input type="radio" value="18" name="day">18th</li>
                    <li class="width-set columnized" ><input type="radio" value="28" name="day">28th</li>
                    <li class="width-set columnized" ><input type="radio" value="9" name="day">9th</li>
                    <li class="width-set columnized" ><input type="radio" value="19" name="day">19th</li>
                    <li class="width-set columnized" ></li>
                    <li class="width-set columnized" ><input type="radio" value="10" name="day">10th</li>
                    <li class="width-set columnized" ><input type="radio" value="20" name="day">20th</li> 
                    <li class="width-set columnized" ></li><br /><br />
                    <h5>End of Month (defaults to last day where necessary):</h5>
                    <li class="width-set columnized" ><input type="radio" value="29" name="day">29th</li> 
                    <li class="width-set columnized" ><input type="radio" value="30" name="day">30th</li> 
                    <li class="width-set columnized" ><input type="radio" value="31" name="day">31st</li> 
                    
                  </div>
                
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary" data-dismiss="modal" onclick="scheduleIt()">Save changes</button>
                </div>
              
              </div>
            </div>
          </div>
        <!-- </form> -->
                <br />
              </div>
              <div class="col-lg-6 option-box">
                <div id="testNames"></div>
                <br>
                <p><b>Languages:</b>
                  <div id="chosenLangs"></div>
                </p>
                <p id="selectedTemplates"><b>Template:</b></p>
                <p><b>Test Cases: </b>
                  <div id="chosenTestCases"></div>
                </p>
                <p>
                  <div id="selectedDomain"></div>
                </p>
                <p id="selectedURLs"><b>URLs: </b></p>
                <p>
                  <p><b>Description:</b></p>
                  <textarea class="form-control" rows="5" id="description"></textarea>
                </p>
              </div>
            </div>
          </div>
        <!-- </form> -->

          <!-- Functional Test content -->

              <div class="tab-pane fade" role="tabpanel" id="functional" aria-labelledby="content-tab">
                <br>
                <h4>Functional Test Selector:</h4>
                <div class="custom-control custom-checkbox">
                  <form class="form-group">

                    <input type="checkbox" class="custom-control-input" id="customCheck1" >
                    <label class="custom-control-label" for="customCheck1">F1 </label>
                    
                    <label for="functionalUrl">Url (Page to Test:)</label>
                    <input type="text" class="form-control" id="functionalUrl" placeholder="http://www.test.com" value="default-url-to-be loaded from db">
                </form>
                </div>
             </div>

          <div class="tab-pane fade" role="tabpanel" id="custom" aria-labelledby="content-tab">Custom test stuff Goes here</div>
        </div>
      </div>
    </div>  

    <div class="row">

    </div>
    <!-- end of Row -->
    <div class="row" style="margin-top:2em;">
      <div class="col-lg-3"></div>
      <div class="col-lg-7">
        <h3>Test Status:<span id="notice" style="color:red"></span></h3>
        <table class="fixed_headers-3 table">
          <tr>
            <thead>
              <tr>
                <th>ID:
                </th>
                <th>Start Time:
                </th>
                <th>Running:
                </th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody id="test-status-table">
              <% if (liveStatus){ %>
                <% for(let i = 0; i < liveStatus.length;i++){ %>
                  <% if(liveStatus[i].status === "success" || liveStatus[i].status === "complete"){%>
                    <tr id="<%= liveStatus[i].id %>">
                      <td>
                        <%= liveStatus[i].id %>
                      </td>
                      <td>
                        <%= liveStatus[i].runDate %>
                      </td>
                      <td id="<%= liveStatus[i].id %>-progress"></td>
                      </td>
                      <td>

                        <button type="button" class="btn btn-sm btn-primary" onclick="getInfo(<%= liveStatus[i].id %>)">Info</button>&nbsp;
                        <button type="button" class="btn btn-sm btn-danger" onclick="stopTest(<%= liveStatus[i].id %>)">Stop</button>&nbsp;
                        <button type="button" class="btn btn-sm btn-success" onclick="getBehatLogFile(<%= liveStatus[i].id %>)">Log</button>
                        
                      </td>
                      <td>

                      </td>
                    </tr>
                    <% }} %>
                      <% } else { %>
                        <tr id="no-tests-running">
                          <td colspan="4" rowspan="5">
                            <h4 class="display-4">No Tests Currently Running</h4>
                          </td>
                        </tr>
                        <% } %>
            </tbody>
        </table>
      </div>
    </div>
    <div class="col-lg-1"></div>
  </div>
  <!-- end .container-fluid -->
  <br>
  <br>
  <script>
  // Socket Connections for running tests // 

  let socket = io.connect('/');

  socket.on('test-run', function(msg) {

    // Remove temporary loading row
    if (msg.includes("start-id")) {

      console.log(msg);

      $(".temp-loader-row").empty().remove(); // removes the row and the contents within row

      let timestamp = getTimeStamp()
      let id = msg.replace("start-id:", "");

      let $cell1 = `<td>${id}</td>`;
      let $cell2 = `<td>${timestamp}</td>`;
      let $cell3 = `<td id='${id}-progress'></td>`;
      let $cell4 = `<td><button type="button" class="btn btn-sm btn-primary" onclick="getInfo(${id})">Info</button>&nbsp;<button type="button" class="btn btn-sm btn-danger" onclick="stopTest(${id})">Stop</button>&nbsp;<button type="button" class="btn btn-sm btn-success" onclick="getBehatLogFile(${id})">Log</button></td>`;

      let $cell5 = `<td></td>`

      let $newRow = $('#test-status-table').prepend($(`<tr id="${id}">`));

      $newRow = $(`#${id}`);

      let $newRowItem = $($newRow).hide().prepend($cell1 + $cell2 + $cell3 + $cell4 + $cell5).fadeIn(1000);
      document.getElementById("notice").innerHTML = "";

    } else if (msg.includes("complete-id")) {

      // 
      console.log(msg);

      let id = msg.replace("complete-id:", "");

      let $oldRow = $(`#${id}`);

      //$oldRow.addClass("table-success");

      $(`#${id} td:nth-child(3)`).text("Complete");

      // Remove the Row after 10 minutes
      setTimeout(function(){

        $($oldRow).empty().remove(); // removes the row and the contents within row
        // Ten Minutes
      }, 600000)
    }

  });

  socket.on('test-progress', function(msg) {
    // message for progres bar

    console.log("message from test Progress:\n");

    console.log(msg);
    
    if(msg.includes("percentage")){
      // get id and percentage and update correct field

      let msgArray = msg.split(" ");

      let testId = msgArray[2];
      let percentage = msgArray[5];

      $(`#${testId}-progress`).html(`${percentage} %`);

    }else{
      // get id and mark test as complete.

      let msgArray = msg.split(" ");

      let testId = msgArray[5];

      console.log("the test id is " + testId);

      $(`#${testId}-progress`).html(`Complete`);

    }

  });
  // Socket Connections end here //

  </script>
  <%- include('footer') %>
